<html>
    <head>
        <title>Scrapper PRO</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    </head>
    <body>
        <div class="head">
            <h1>Scrapper PRO</h1>
            <hr>
        </div>

        <div id="data">
                <% for(const watch of data) { %>
                    <div class="watch">
                        <div class="watch-model">
                            <%= watch.model %>
                        </div>
                        <div class="watch-price">
                            <%= watch.price %>
                        </div>
                        <div class="watch-image">
                            <img src="<%= watch.img %>" alt="Watch image">
                        </div>
                    </div>
                    
                <% } %>
        </div>

        <div class="end">
            <hr>
            <h1>Scrapper PRO</h1>
        </div>
    </body>
</html>