<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
        <title>Scrapper PRO</title>
    </head>
    <body>
        <div class="head">
            <h1>We are scrapping <a href="https://www.chronext.fr/rolex" target="_blank">chronext</a>.</h1>
            <p class="text__head">Go back to <a href="/">home page</a> ↗</p>
        </div>

        <div id="data">
            <div class="watches__grid">
                <% for(const watch of data) { %>

                <div class="watches__list watches__border">
                    <div class="watches__model">
                        <%= watch.model %>
                    </div>
                    <div  class="watches__image">
                        <img src="<%= watch.img %>" alt="Watch image">
                    </div>
                    <div class="watches__price">
                        <%= watch.price %>
                    </div>
                </div>

                <% } %>
              </div>
        </div>
    </body>
</html>